* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f2f2f2;
  color: #313131;
}

.footer {
  .typography {
    font-size: small;
    margin: 5px;
  }

  .link {
    margin: 10px;
    color: #fafafa;
  }

  .link:hover {
    color: #ffc107;
  }
}
